 <!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JavaScript Bundle with Popper -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="~/Content/CSS/like.css" rel="stylesheet" />
    <script defer src="~/Content/JS/Tooltip.js"></script>
    <title>@ViewBag.Title - InstaMazz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="pt-3">

    <div class="fixed-top">
        <nav class="navbar navbar-expand-sm navbar-light bg-light d-flex justify-content-between w-100">  
            <div class="d-flex justify-content-between align-items-center w-100 px-2">
                <div>
                    <a class="nav-item navbar-brand" href="@Url.Action("FeedView","Post")">InstaMazz</a>
                </div>
                <div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="width:90vw;">
                <div class="navbar-nav d-flex justify-content-end w-100">
                    <a class="nav-item nav-link" href="@Url.Action("FeedView","Post")"><i class="bi bi-house-fill text-primary"></i> Inicio</a>
                    <a class="nav-item nav-link" href="@Url.Action("PerfilUsu","Home")"><i class="bi bi-person-fill text-primary"></i> Perfil</a>
                    <a class="nav-item nav-link" href="@Url.Action("BuscarView","Home")"><i class="bi bi-search text-info"></i> Buscar</a>
                    <a class="nav-item nav-link" href="@Url.Action("Chat","chat")"><i class="bi bi-chat-left-dots-fill text-success"></i> Chat</a>
                    <a class="nav-item nav-link" href="@Url.Action("CerrarSesion","Home")"><i class="bi bi-door-open-fill text-danger"></i> Salir</a>
                </div>
            </div>
        </nav>
    </div>   
    @RenderBody()
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
