@{
    ViewBag.Title = "FeedView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Feed = ViewBag.Feed;
}

<div style="margin-top: 10vh">
    @foreach (var item in Feed)
    {

        <div class="row d-flex justify-content-center p-0 mx-0 w-100">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded col-xs-12 col-md-7 col-lg-5">
                <div class="card-header text-left">
                    <h3 class="text-secondary text-left">@item.UserName</h3>
                </div>
                <div>
                    <img class="img-responsive card-img-top w-100 h-100" src="@item.UrlImg" />
                </div>
                <div class="w-100 d-flex justify-content-start align-items-center gap-3">
                   
                    <p>
                        @if (@item.TotalPost == 0 @*&& item.Email == ViewBag.Ids*@)
                        {
                            @Html.ActionLink(" ", "MGusta", "Post", new { IdUsu = ViewBag.Ids, IdPost = item.IdPost }, new { @class = "btn btn-lg bi bi-hand-thumbs-up mt-1 border-0" })
                        }
                        else
                        {
                            @Html.ActionLink(" ", "MGusta", "Post", new { IdUsu = ViewBag.Ids, IdPost = item.IdPost }, new { @class = "btn btn-lg bi bi-hand-thumbs-up-fill text-success mt-1 border-0" })
                        }

                        <span class="ml-2">@item.TotalPost</span>
                    </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        @item.Descripcion
                    </div>
                </div>
            </div>
        </div>

    }
    <script src="~/Content/JS/MeGusta.js"></script>
</div>




