@model InstaMazz2._0.Models.UsuarioModel

@{
    ViewBag.Title = "EditarPerfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/Content/CSS/Login.css" rel="stylesheet" />
    <script defer src="~/Content/JS/Input.js"></script>
</head>

<div class="row p-0 mt-3 mx-2 w-100 d-flex flex-column align-items-center justify-content-center w-100">   

    <div class="card shadow-lg bg-light col-xs-12 col-md-6 col-lg-3 p-3" style="margin-top: 12vh; max-height: fit-content;">     

        <form action="@Url.Action("EditarPerfil", "Acceso")" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <div style="margin-left: auto; margin-right: auto; display: grid; place-content: center;">
                    <h2>Editar Perfil</h2>
                </div>
                <div @*class="shadow-lg"*@>
                    @if (ViewBag.V_F)
                    {
                        <img id="imagen" src="/Upload/@ViewBag.Img" class="img-fluid rounded-start h-100 w-100">
                    }
                    else
                    {
                        <img id="imagen" src="~/Content/CSS/@ViewBag.Img" class="img-fluid rounded-start h-100 w-100">
                    }
                </div>
            </div>

            <div class="form-group mb-0">
                <div ><i class="ms-1 bi bi-image-fill text-primary"></i> Imagén de perfil</div>
                <label class="contenido mb-0 mt-0 form-label" for="Boton" style="width:100%; border-radius: 5px;"><i class="bi bi-file-earmark-arrow-down-fill fa-lg text-primary"></i> &nbsp; <span id="fileName"> Archivo: </span></label>
                <input type="file" name="ImagenPerfil" id="Boton" class="form-control" style="display: none;">
            </div>          

            <div class="form-group">
                <input name="IdUsuario" type="number" class="form-control" value="@ViewBag.IdUsuario" style="display: none">
            </div>

            <div class="form-group">
                <i class="ms-1 bi bi-person-fill text-primary"></i> Nombre <input name="Nombre" type="text" value="@ViewBag.Nom" class="form-control border border-cyan">
            </div>

            <div class="form-group">
                <i class="ms-1 bi bi-person-fill text-primary"></i> Nombre de usuario <input name="UserName" type="text" value="@ViewBag.NomUs" class="form-control border border-cyan">
            </div>

            <div class="form-group">
                <i class="ms-1 bi bi-map-fill text-primary"></i> Biografia <textarea name="BioUsuario" maxlength="120" type="text" class="form-control border border-cyan" style="height: 80px;">@ViewBag.Bio</textarea>
            </div>

            @if (ViewBag.NombreNull != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.NombreNull
                </div>
            }

            @if (ViewBag.UserNameNull != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.UserNameNull
                </div>
            }

            @if (ViewBag.BioNull != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.BioNull
                </div>
            }

            <div class="my-2" style="display:grid; place-content: center;">
                <button type="submit" class="btn shadow-lg text-primary border border-primary bi bi-pencil-fill"> Guardar cambios</button>
            </div>
        </form>
    </div>
</div>