@{
    ViewBag.Title = "Perfil";
    var Publicaciones = ViewBag.Publicaciones;
    
}
@model InstaMazz2._0.Models.UsuarioModel

    <div class="container d-flex flex-column justify-content-center align-items-center w-100row p-0 gap-5" style="margin-top: 10vh;">
        <div class="card col-xs-12 col-md-7 col-lg-5 shadow-lg">
            <div class="row g-0 p-2">
                <div class="col-xs-12 col-md-6 p-0">
                    <img src="/Upload/@Model.imagenPerf" class="img-fluid rounded-start h-100 w-100">
                </div>
                <div class="col-xs-12 col-md-6 p-0">
                    <div class="card-body">
                        <h2 class="card-title">@Model.Nombre</h2>
                        <p class="card-text">@Model.BioUsuario</p>
                        @*<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>*@
                        <h4 class="card-text"><small class="text-muted">@Model.UserName</small></h4>
                        <div class="d-flex flex-row justify-content-start gap-3">
                            @if (ViewBag.usu)
                            {
                                <form action="@Url.Action("CrearPost", "Post")">
                                    <button data-bs-toggle="mensaje" title="Crear publicacion" type="submit" class="btn btn-success btn-s"><i class="bi bi-plus-circle"></i> </button>
                                </form>
                                <form action="@Url.Action("EditarPerfil", "Acceso")">
                                    <button data-bs-toggle="mensaje" title="Editar Perfil" type="submit" class="btn btn-primary btn-s"><i class="bi bi-pencil"></i> </button>
                                </form>
                                <form action="@Url.Action("ListaAmigosVista", "Amigos")">
                                    <button data-bs-toggle="mensaje" title="Amigos" type="submit" class="btn btn-info btn-s"><i class="bi bi-person-lines-fill"></i> </button>
                                </form>
                                <form action="@Url.Action("SolicitudesVista", "Amigos")">
                                    <button data-bs-toggle="mensaje" title="Solicitudes pendientes" type="submit" class="btn btn-warning btn-s"><i class="bi bi-person-plus"></i> </button>
                                </form>
                            }
                            else
                            {
                                if (ViewBag.Amigos)
                                {
                                    if (ViewBag.IdUsuAmigo == Model.IdUsuario)
                                    {
                                        <div>
                                            @*<button class="btn btn-success btn-s"><i class="bi bi-person-check"></i> </button>*@
                                            <p class="text-primary">
                                                <label class="bg-success p-2"><i class="bi bi-person-check text-white"></i> </label>
                                                Amigo en común con <small class="text-dark">Link ir al amigo en comun</small>..
                                            </p>
                                            @*<label class="text-primary">Amigo en común con <small class="text-dark">Link ir al amigo en comun</small>.. </label>*@
                                        </div>
                                    }
                                    else
                                    {
                                        if (ViewBag.nBTN)
                                        {
                                            if (ViewBag.IdUsuAmigo == Model.IdUsuario)
                                            {
                                                <a>@Html.ActionLink(" Cancelar Solicitud", "AgregarAmigo", "Amigos", new { nSolt = 0, idemail = Model.Email }, new { @class = "btn btn-danger btn-s gap-3" })</a>
                                            }
                                            else
                                            {
                                                <a>@Html.ActionLink(" Enviar Solicitud", "AgregarAmigo", "Amigos", new { nSolt = 1, idemail = Model.Email }, new { @class = "btn btn-primary btn-s gap-3" })</a>
                                            }
                                        }
                                        else
                                        {
                                            <a>@Html.ActionLink(" Enviar Solicitud", "AgregarAmigo", "Amigos", new { nSolt = 1, idemail = Model.Email }, new { @class = "btn btn-primary btn-s gap-3" })</a>
                                        }
                                    }


                                }
                                else
                                {
                                    if (ViewBag.nBTN)
                                    {
                                        if (ViewBag.IdUsuAmigo == Model.IdUsuario)
                                        {
                                            <a>@Html.ActionLink(" Cancelar Solicitud", "AgregarAmigo", "Amigos", new { nSolt = 0, idemail = Model.Email }, new { @class = "btn btn-danger btn-s gap-3" })</a>
                                        }
                                        else
                                        {
                                            <a>@Html.ActionLink(" Enviar Solicitud", "AgregarAmigo", "Amigos", new { nSolt = 1, idemail = Model.Email }, new { @class = "btn btn-primary btn-s gap-3" })</a>
                                        }
                                    }
                                    else
                                    {
                                        <a>@Html.ActionLink(" Enviar Solicitud", "AgregarAmigo", "Amigos", new { nSolt = 1, idemail = Model.Email }, new { @class = "btn btn-primary btn-s gap-3" })</a>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container d-flex flex-column justify-content-center align-items-center w-100">
            <div class="row">

                @foreach (var item in Publicaciones)
                {
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="card vw-25% bg-light">
                            @*<div>*@
                                <img src="@item.UrlImg" class="img-responsive card-img-top w-100 h-100 p-2 bg-white">
                            @*</div>*@
                            <div class="card-body bg-none">
                                <p class="d-flex justify-content-between">
                                    <span>Titulo del Post</span>
                                    <span class="fw-bold">Me Gusta: <small class="text-primary">@item.TotalPost</small></span>
                                </p>
                                <p class="card-text mb-3">@item.Descripcion</p>
                                @if (ViewBag.usu)
                                {
                                    <form action="@Url.Action("Delete", "Post", new {IdPost = item.TotalPost})" method="post">
                                        <button data-bs-toggle="mensaje" title="Eliminar publicacion" type="submit" class="btn btn-danger btn-s mb-3"><i class="bi bi-trash"></i> </button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>




