@{
    ViewBag.Title = "Perfil";
    var Publicaciones = ViewBag.Publicaciones;
}
@model InstaMazz2._0.Models.UsuarioModel
<head>
    <link href="~/Content/CSS/Perfil.css" rel="stylesheet"/>
</head>
<div class="container wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 details">
                <div class="col-md-6 img">
                    <img src="/Upload/@Model.imagenPerf" alt="Imagen de perfil" class="img-rounded imagen" style="width: 100px; height: 100px" />
                </div>
                <div class="col-md-6 details">
                    <h3>@Model.Nombre</h3>
                    <p>@Model.UserName</p>
                    <p>@Model.email</p>
                </div>
            </div>
        </div>
    
    <div class="container">
        <div class="botton-container">
            <div class="btn btn-success btn-lg"> <i class="bi bi-plus-circle"></i> <a>@Html.ActionLink("Crear Publicacion", "CrearPost", "Post")</a> </div>
            <div class="btn btn-danger btn-lg"> <i class="bi bi-dash-circle"></i> <a>@Html.ActionLink("Eliminar Publicacion", "ListarVista", "Post")</a> </div>
            <div class="btn btn-info btn-lg"> <i class="bi bi-dash-circle"></i> <a>@Html.ActionLink("Editar Perfil", "EditarPerfil", "Acceso")</a> </div>
        </div>
        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="gallery-title">Publicaciones</h1>
            </div>
            
            @foreach (var item in Publicaciones)
            {
              <div class="card" style="width: 18rem;">
                  <img src="@item.UrlImg" class="card-img-top" alt="...">
                  <div class="card-body">
                      <p class="card-text">@item.Descripcion</p>

                  </div>
              </div>      
            }
            
            
        </div>
    </div>
</div>