@{
    ViewBag.Title = "Perfil";
    var Publicaciones = ViewBag.Publicaciones;
    
}
@model InstaMazz2._0.Models.UsuarioModel

    <div class="container d-flex flex-column justify-content-center align-items-center w-100row p-0 gap-5" style="margin-top: 10vh;">
        <div class="card col-xs-12 col-md-7 col-lg-5 shadow-lg">
            <div class="row g-0 p-2">
                @*@if (Model.imagenPerf.EndsWith("png") || Model.imagenPerf.EndsWith("jpg") || Model.imagenPerf.EndsWith("jpeg"))
                {
                    <div class="col-xs-12 col-md-6 p-0">
                        <img src="/Upload/@Model.imagenPerf " class="img-fluid rounded-start h-100 w-100">
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-md-6 p-0">
                        <img src="~/Content/CSS/avatar.jpg" class="img-fluid rounded-start h-100 w-100">
                    </div>
                }*@

                @if (ViewBag.V_F)
                {
                    <div class="col-xs-12 col-md-6 p-0">
                        <img src="/Upload/@Model.imagenPerf " class="img-fluid rounded-start h-100 w-100">
                    </div>
                }
                else
                {
                    <div class="col-xs-12 col-md-6 p-0">
                        <img src="~/Content/CSS/@Model.imagenPerf" class="img-fluid rounded-start h-100 w-100">
                    </div>
                }

                <div class="col-xs-12 col-md-6 p-0">
                    <div class="card-body">
                        <h2 class="card-title">@Model.Nombre</h2>
                        <p class="card-text">@Model.BioUsuario</p>
                        @*<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>*@
                        <h4 class="card-text"><small class="text-muted">@Model.UserName</small></h4>
                        <div class="d-flex flex-row justify-content-start gap-3">
                            @if (ViewBag.usu)
                            {
                                <form action="@Url.Action("CrearPost", "Post")">
                                    <button data-bs-toggle="mensaje" title="Crear publicacion" type="submit" class=" shadow btn text-success border border-success"><i class="bi bi-plus-circle-fill"></i></button>
                                </form>
                                <form action="@Url.Action("EditarPerfil", "Acceso")">
                                    <button data-bs-toggle="mensaje" title="Editar Perfil" type="submit" class=" shadow btn text-primary border border-primary"><i class="bi bi-pencil-fill"></i></button>
                                </form>

                                @Html.ActionLink(" ", "ListaAmigosVista", "Amigos", new { IdEmail = Model.Email }, new { @class = "shadow btn text-info border border-info bi bi-person-lines-fill" })

                                <form action="@Url.Action("SolicitudesVista", "Amigos")">
                                    <button data-bs-toggle="mensaje" title="Solicitudes pendientes" type="submit" class=" shadow btn text-warning border border-warning"><i class="bi bi-person-plus"></i></button>
                                </form>
                            }
                            else
                            {
                                if (ViewBag.Amigos)
                                {
                                    <button class=" shadow btn text-success border border-success" disabled><i class="bi bi-person-check-fill"> Amigos</i></button>

                                    @Html.ActionLink(" Ver amigos", "ListaAmigosVista", "Amigos", new { IdEmail = Model.Email }, new { @class = "shadow btn text-primary border border-primary bi bi-person-lines-fill" })
                                }
                                else
                                {
                                    if (ViewBag.nBTN)
                                    {
                                        if (ViewBag.IdUsuAmigo == Model.IdUsuario)
                                        {
                                            <a>@Html.ActionLink(" Cancelar Solicitud", "AgregarAmigo", "Amigos", new { nSolt = 0, idemail = Model.Email }, new { @class = "shadow btn text-danger border border-danger bi bi-person-x-fill" })</a>
                                        }
                                        else
                                        {
                                            <a>@Html.ActionLink(" Enviar Solicitud", "AgregarAmigo", "Amigos", new { nSolt = 1, idemail = Model.Email }, new { @class = "shadow btn text-primary border border-primary bi bi-person-plus-fill" })</a>
                                        }
                                    }
                                    else
                                    {
                                        <a>@Html.ActionLink(" Enviar Solicitud", "AgregarAmigo", "Amigos", new { nSolt = 1, idemail = Model.Email }, new { @class = "shadow btn text-primary border border-primary bi bi-person-plus-fill" })</a>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container d-flex flex-column justify-content-center align-items-center w-100">
            <div class="row">

                @foreach (var item in Publicaciones)
                {
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <div class="card bg-light shadow vw-25%">
                            @*<div>*@
                                <img src="@item.UrlImg" class="img-responsive card-img-top w-100 h-100 p-2 bg-white">
                            @*</div>*@
                        <div class="card-body bg-none">
                            <p class="d-flex justify-content-between">
                                <h3>@item.Titulo</h3>
                                <span class="fw-bold">Me Gusta: <small class="text-primary">@item.TotalPost</small></span>
                            </p>
                            <p class="card-text mb-3">@item.Descripcion</p>
                            @if (ViewBag.usu)
                            {
                                <form action="@Url.Action("Delete", "Post", new {IdPost = item.IdPost})" method="post">
                                    <div>
                                        <button type="submit" class=" shadow btn text-danger border border-danger"><i class="bi bi-trash-fill"></i> </button>
                                    </div>
                                </form>
                            }
                        </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

<!--Comentario de actulizacion-->




