@{
    ViewBag.Title = "Perfil";
}

<div class="container wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 img">     
              <img src="@ViewBag.Img" alt="Imagen de perfil" class="img-rounded imagen" />
            </div>
            <div class="col-md-6 details">               
              <h3>@ViewBag.name</h3>               
              <p>@ViewBag.userName</p>
              <p>@ViewBag.email</p>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="botton-container">
            <div class="btn btn-success btn-lg"> <i class="bi bi-plus-circle"></i> <a>@Html.ActionLink("Crear Publicacion", "CrearPost", "Post")</a> </div>
            <div class="btn btn-danger btn-lg"> <i class="bi bi-dash-circle"></i> <a>@Html.ActionLink("Eliminar Publicacion", "ListarVista", "Post")</a> </div>
        </div>
        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="gallery-title">Publicaciones</h1>
            </div>
            
            @* 
           <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in )
                    {
                        <tr>
                            <td></td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
            *@
        </div>
    </div>
</div>